*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  border: none;
}

/* Transparent Scrollbar */
/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Adjust as needed */
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Make the thumb (the draggable part) transparent */
  border: none; /* Remove the border */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin; /* Enable Firefox scrollbar styling */
  scrollbar-color: transparent transparent; /* Make the thumb and track transparent */
}

/* Optionally, you can style the thumb when it's hovered or being actively used */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2); /* Add some transparency on hover */
}

*::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.4); /* Add more transparency when actively used */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body,
p,
a,
span,
label,
ul li {
  font-family: "EnnVisions";
}

.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-8 {
  margin-top: 8px;
}
.ant-modal-body {
  padding: 0px;
}

/* @media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 96% !important;
  }
} */

/* bootstrap container end */

.arrow-box {
  position: fixed;
  bottom: 5%;
  right: 5%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 30;
}

@font-face {
  font-family: "EnnVisions";
  src: local("SFUIText-Regular"),
    url("./assets/fonts/EnnVisions.otf") format("truetype");
}
@font-face {
  font-family: "EnnVisionsMedium";
  src: local("SFUIText-Regular"),
    url("./assets/fonts/EnnVisionsMedium.otf") format("truetype");
}
@font-face {
  font-family: "EnnVisionsBold";
  src: local("SFUIText-Regular"),
    url("./assets/fonts/EnnVisionsBold.otf") format("truetype");
}

img {
  max-width: 100%;
  height: auto;
}

.mobile-nav-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-title p {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #aab2ba;
}

.cursor-pointer {
  cursor: pointer;
}

.text-14 {
  font-size: 14px;
}
.text-16 {
  font-size: 16px;
}

.ant-drawer-close {
  visibility: hidden;
}

button {
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .web-view {
    display: none;
  }
}

@media screen and (min-width: 1100px) {
  .mobile-view {
    display: none;
  }
}

.page-indicator-section img {
  cursor: pointer;
}

.page-indicator-section .indicators .indicator {
  height: 4px;
  width: 35px;
  border-radius: 10px;
}

.page-indicator-section .indicators .indicator-fill {
  background-color: #c7112b;
}

.page-indicator-section .indicators .indicator-null {
  background-color: #8d99b247;
}
.ant-drawer-left > .ant-drawer-content-wrapper {
  box-shadow: none !important;
}
.ant-drawer-body {
  padding: 0 !important;
}

.ant-drawer-mask {
  background: none !important;
}

.ant-drawer-header {
  padding: 0 !important;
}

.ant-drawer-close {
  margin-right: 0 !important;
}

.mobile-nav-title {
  margin-right: 25px;
  margin-top: 15px;
}

.ant-modal-content {
  background: transparent !important;
  box-shadow: none !important;
}

.ant-drawer-header {
  border-bottom: none !important;
}

.ant-checkbox-inner {
  width: 18px !important;
  height: 18px !important;
  border-radius: 5px !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #3d86af !important;
  background-color: #3d86af !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner,
.ant-checkbox-checked::after {
  border-color: #3d86af !important;
}

.or-line {
  margin-top: 20px;
  width: 100%;
  gap: 10px;
}
.or-line .line {
  height: 1px;
  flex-grow: 1;
  background: #bdbdbd;
}
@media screen and (max-width: 425px) {
  .login-container .or-line {
    width: 96%;
  }
}

.language-select {
  position: relative;
}
.language-select-inner {
  position: absolute;
  right: 30px;
  top: 10px;
}

.PhoneInput {
  /* border: 1px solid black; */
  width: 100%;
  height: 48px;
  /* border: 1px solid rgb(198, 198, 200); */
  border-radius: 8px;
}
.PhoneInput .PhoneInputCountry {
  width: 80px;
  position: relative;
  padding: 0 11px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  background-color: #fafafa;
  transition: all 0.3s;
  justify-content: center;
  border: 1px solid rgb(198, 198, 200);
  margin-right: 0;
}
.country-left-to-right-border-radius {
  border-radius: 8px 0 0 8px;
}
.country-right-to-left-border-radius {
  border-radius: 0 8px 8px 0;
}
.PhoneInput input {
  width: 100%;
  height: 48px;
  padding: 0 11px;
  background-color: transparent;
  border: 1px solid rgb(198, 198, 200);
  outline: 0;
  transition: all 0.3s linear;
  appearance: textfield !important;
  font-family: EnnVisionsMedium;
  font-size: 14px;
}
.phone-number-right-to-left-border-radius {
  border-radius: 8px 0 0 8px;
}
.phone-number-left-to-right-border-radius {
  border-radius: 0 8px 8px 0;
}
.PhoneInput input::placeholder {
  font-family: EnnVisionsMedium;
  color: rgb(198, 198, 200);
}
.custom-phone-input-label {
  display: block;
  color: rgb(27, 40, 63);
  text-transform: capitalize;
  font-size: 16px !important;
  font-family: EnnVisionsMedium, sans-serif;
  margin-bottom: 10px;
}
.text-14 {
  font-size: 14px;
}
.letter-spacing-1 {
  letter-spacing: 1px;
}

.Toastify__toast-container {
  width: 500px !important;
  border-radius: 20px !important;
}
.ant-layout,
.ant-layout-sider-light {
  background: transparent !important;
}
.ant-dropdown-menu {
  border-radius: 4px !important;
}
.ant-dropdown-menu-title-content {
  font-family: EnnVisionsMedium, sans-serif;
  color: #333333 !important;
}
.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  padding-right: 50px !important;
}
.content-styles {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin: 0 16px;
  flex-direction: row;
}

@media screen and (max-width: 1000px) {
  .content-styles {
    flex-direction: column;
  }
}
.navbar-styles {
  height: 90px !important;
}
@media screen and (max-width: 768px) {
  .navbar-styles {
    height: 150px !important;
  }
}
